.btn {
    background: none;
    border: none;
    margin: 5px auto;
    padding: 8px 0;
    border-radius: 8px;
}

.btn-regular {
    width: 200px;
}

.btn-clr-green {
    background: #16a085;
}

.btn-clr-deep-blue {
    background: #34495e;
}

.btn-clr-dark-gray {
    background: rgba(0, 0, 0, 0.5);
}
