@font-face {
    font-family: Trench;
    src: url('../fonts/Trench.eot');
    src: local('Trench'), url('../fonts/Trench.woff') format('woff'),
            url('../fonts/Trench.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}

.font-trench {
    font-family: Trench;
}

.font-bold {
    font-weight: bold;
}

.font-15p {
    font-size: 15px;
}

.font-20p {
    font-size: 20px;
}

.font-30p {
    font-size: 30px;
}

.font-clr-green {
    color: #16a085;
}

.font-clr-white {
    color: #ffffff;
}
