/* base css */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

input {
    display: block;
    width: 200px;
    margin: 5px auto;
    padding: 8px 0;
    background: none;
    border: none;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    outline: none;
    -webkit-appearance: none;
            appearance: none;
}

input[type='range'] {
    display: inline-block;
    vertical-align: middle;
}

input[type='range']::-webkit-slider-thumb {
    background: #fff;
    -webkit-appearance: none;
            appearance: none;
     height: 34px;
     width: 30px;
     margin: -8px 0;
     border-radius: 8px;
     background: #16a085;
     cursor: pointer;
}

/* common css */

.contents-container {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.contents-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}

.hide {
    display: none;
}

.inline-block {
    display: inline-block;
}

.vertical-align {
    vertical-align: middle;
}

.width-100pc {
    width: 100%;
}

.width-160p {
    width: 160px;
}

.bg-cloud {
    background: #ecf0f1;
}

.border-round-sm {
    border-radius: 8px;
}

.border-round-md {
    border-radius: 15px;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}

.margin-top-none {
    margin-top: 0;
}

.margin-tb-sm {
    margin-top: 8px;
    margin-bottom: 8px;
}

.padding-md {
    padding: 15px;
}

.text-left {
    text-align: left;
}

.hover-fade {
    transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.hover-fade:hover {
    opacity: 0.5;
}

/* toureco css :: intro */

.use-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white url('../img/intro_back.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.background-mask {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.45);
}

.background-mask-deep {
    background: rgba(0, 0, 0, 0.7);
}

/* toureco css :: choice */

.option-item {
    display: block;
    width: 200px;
    margin: 5px auto;
    padding: 10px 0;
    background: none;
    border: none;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    outline: none;
}

.option-item:focus,
.option-item:hover,
.option-item:active,
.option-item:checked {
    background: rgba(0, 0, 0, 0.2);
}

.option-item-selected,
.option-item-selected:focus,
.option-item-selected:hover,
.option-item-selected:active,
.option-item-selected:checked {
    color: #000;
    background: #16a085;
}

.middle-block {
    content: "";
    display: inline-block;
    min-width: 380px;
    vertical-align: middle;
    height: 100%;
}

/* toureco css :: view reco result */

.reco-result-title {
    height: 60px;
    padding: 0 20px;
    background: #217dbb;
    color: #fff;
    font-family: Trench;
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
}

.reco-container {
    display: inline-block;
    float: left;
    height: 100vh;
}

.reco-list-container {
    width: 25%;
    height: 100vh;
    background: #ecf0f1;
}

.reco-rank-panel {
    width: 100%;
}

.reco-rank-title {
    height: 45px;
    color: #fff;
    line-height: 45px;
    font-family: Trench;
    font-weight: bold;
    text-align: center;
    background: #4aa2df;
}

/*.reco-proper-rank-panel .reco-rank-title {
    background: #3498db;
}

.reco-high-rank-panel .reco-rank-title {
    background: #34495e;
}*/

.reco-rank-item {
    height: 45px;
    font-family: Trench;
    line-height: 45px;
    padding: 0 20px;
}

.reco-map-container {
    width: 75%;
    height: 100vh;
    background: #fff;
}

#map {
    width: 100%;
    height: 100vh;
}
